<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<body>

    <!-- header -->
    <header id="header"
        class="flex items-center justify-between px-9 md:px-16 xl:px-[10vw] pt-7 pb-4 fixed left-0 w-screen z-10">
        <a href="/" class="flex items-center gap-1 opacity-100 hover:opacity-50 duration-300">
            <img src="{{url_for('static', filename='images/website/arrow.png')}}" alt="back" class="rotate-90 h-2.5">
            <span class="text-white-qa text-2xl md:text-lg font-round font-medium">Back</span>
        </a>
    </header>

    <section id="gallery" class="min-h-screen">

        {% if has_media %}
        <!-- album info -->
        <div class="pt-24">
            <span class="title text-white-qa mb-2">{{album.title}}</span>
            <span>{{album.description}}</span>
        </div>

        <div class="my-5 h-fit bg-cover grid grid-cols-2 md:grid-cols-4 gap-5 select-none">

            {% for media_item in media %}
            <div class="cursor-pointer w-full h-[25vw] md:h-[13vw] rounded-2xl overflow-hidden bg-black"
                onclick="lightboxOpen('{{media_item.reference}}')">
                <img class="hover:scale-110 duration-300 object-cover object-center h-full w-full hover:opacity-75 opacity-100"
                    src="{{url_for('static', filename='images/uploaded/'+media_item.reference)}}"
                    alt="{{media_item.reference}}">
            </div>
            {% endfor %}

        </div>

        {% else %}
        <div class="flex justify-center items-center h-screen w-full text-white-qa">No Media</div>
        {% endif %}

        <script>

        </script>
        <!-- Lightbox -->
        <div id="lightbox" onclick="lightboxClose()"
            class="fixed w-screen h-screen top-0 left-0 lightbox-closed z-20 bg-opacity-75 bg-blue-darker justify-between px-10 py-8 select-none">
            <div class="w-8"></div>
            <div class="w-3/4 h-full overflow-hidden flex items-center" onclick="event.stopPropagation()">
                <img class="w-full h-full object-cover rounded-2xl" src="" id="lightbox-img" alt="lightbox-img">
            </div>
            <a class="cursor-pointer opacity-100 hover:opacity-50 duration-300 h-fit">
                <img class="w-6 h-6" src="{{url_for('static', filename='images/website/close.png')}}"
                    alt="close-button">
            </a>
        </div>
    </section>

</body>

</html>