{% extends "layout.html" %}
{% block content %}

<form action="{{ url_for('admin.remove_album', album_id=album.id) }}" method="post" class="flex justify-center mb-5">
    <button type="submit" class="button bg-error text-white-qa">Remove album</button>
</form>
<form action="{{ url_for('admin.update_album', album_id=album.id) }}" method="post">
    <div class="flex justify-between gap-5">
        <div class="w-full">
            <label for="title">Title*</label>
            <input id="title" name="title" type="text" placeholder="Enter album title" value="{{ album.title }}">
            <div class="flex items-center">
                <input type="checkbox" {% if album.is_active %} checked {% endif %} name="is_active" id="is_active">
                <label for="is_active">Active</label>
            </div>
        </div>
        <div class="w-full">
            <label for="description">Description*</label>
            <textarea id="description" name="description" rows="2"
                placeholder="Enter album description">{{ album.description }}</textarea>
        </div>
    </div>
    <div class="flex justify-center mb-3 gap-3">
        <button type="submit" class="button">Save changes</button>
    </div>

    <span>Selected Media*</span>
    <div class="grid grid-cols-6 gap-3 mb-5 mt-1">

        {% for media in album.media %}
        <div class="w-full h-36 rounded-2xl overflow-hidden flex justify-center items-center bg-black relative">
            <img class="object-cover object-center h-full w-full"
                src="{{ url_for('static', filename='images/uploaded/'+media.reference) }}" alt="{{ media.reference }}">
            <label for="selected_media{{ media.id }}"
                class="absolute w-full h-full bg-black opacity-0 hover:opacity-50 duration-300 cursor-pointer"></label>
            <input id="selected_media{{ media.id }}" type="checkbox" name="selected_media"
                class="absolute scale-[250%] cursor-pointer pointer-events-none opacity-0 checked:opacity-100"
                value="{{ media.id }}" checked>
        </div>
        {% endfor %}

    </div>

    <span class="mt-5">Add Media</span>
    <div class="grid grid-cols-6 gap-3 mt-1">

        {% for media in unused_media %}
        <div class="w-full h-36 rounded-2xl overflow-hidden flex justify-center items-center bg-black relative">
            <img class="object-cover object-center h-full w-full"
                src="{{ url_for('static', filename='images/uploaded/'+media.reference) }}" alt="{{ media.reference }}">
            <label for="selected_media{{ media.id }}"
                class="absolute w-full h-full bg-black opacity-0 hover:opacity-50 duration-300 cursor-pointer"></label>
            <input id="selected_media{{ media.id }}" type="checkbox" name="selected_media"
                class="absolute scale-[250%] cursor-pointer pointer-events-none opacity-0 checked:opacity-100"
                value="{{ media.id }}">
        </div>
        {% endfor %}

    </div>

    <div class="flex justify-center mb-5 mt-3">
        <button type="submit" class="button">Save changes</button>
    </div>
</form>


{% endblock %}