{% extends "layout.html" %}
{% block content %}


<!-- script for previewing images before uploading them -->
<script>
    function previewImage(id) {
        console.log("banana")
        const file = document.getElementById(`image${id}`).files;
        if (file.length > 0) {
            const fileReader = new FileReader()
            fileReader.onload = function (event) {
                document.getElementById(`preview${id}`).setAttribute("src", event.target.result);
            };
            fileReader.readAsDataURL(file[0]);
        }
    }
</script>
<script>
    function onFormFieldChange(e) {
        const btn = e.querySelector("#submit")
        btn.classList.remove('submit-hidden')
        btn.classList.add('submit-shown')
    }
</script>


<section id="users" class="mb-5 w-full">
    <span class="title">Users</span>

    <form action="{{ url_for('admin.update_users') }}" method="post" onchange="onFormFieldChange(this)">
        <table class="text-white-qa w-full rounded-2xl mt-5">
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Entries</th>
                <th>Admin</th>
                <th>Remove</th>
            </tr>

            {% for (user, entries) in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ entries }}</td>
                <td>
                    <input type="checkbox" name="admin_users" {% if user.is_admin %} checked {% endif %}
                        value="{{ user.id }}">
                </td>
                <td>
                    <input type="checkbox" name="remove_users" value="{{ user.id }}">
                </td>
            </tr>
            {% endfor %}

        </table>
        <div class="flex justify-center">
            <button id="submit" type="submit" class="button submit-hidden mt-3 px-3 py-2">Save changes</button>
        </div>
    </form>

</section>


<section id="about" class="my-5 w-full">
    <span class="title mb-3">About Section</span>

    <form action="{{ url_for('admin.update_about') }}" method="post" onclick="onFormFieldChange(this)">
        <textarea name="description" rows="5" placeholder="Write a new description">{{ about.description }}</textarea>
        <div class="flex justify-center">
            <button id="submit" type="submit" class="button submit-hidden mt-2 px-3 py-2">Save changes</button>
        </div>
    </form>
</section>


<section id="people" class="mb-10 w-full">
    <span class="title mb-3">People Section</span>
    <div class="grid grid-cols-4 gap-5">

        {% for person in people %}
        <form action="{{ url_for('admin.update_person', person_id=person.id) }}" method="post"
            enctype="multipart/form-data" class="bg-opacity-10 bg-white-qa rounded-2xl p-5"
            onchange="onFormFieldChange(this)">
            <div class="mb-4">
                <div class="flex justify-center z-10">
                    <img src="{{ url_for('static', filename='images/uploaded/'+person.reference) }}"
                        alt="{{ person.reference }}" class="rounded-full object-cover w-52 h-52"
                        id="preview{{ person.id }}">
                </div>
                <div class="flex justify-center">
                    <div class="flex justify-center items-center z-20 w-52 h-52 rounded-full bg-black absolute -mt-52
                        hover:opacity-80 opacity-0 duration-300">
                        <label for="image{{ person.id }}" class="h-fit text-center cursor-pointer">Upload new
                            image</label>
                    </div>
                </div>
                <input type="file" name="image" id="image{{ person.id }}" class="hidden" accept="image/*"
                    onchange="previewImage('{{ person.id }}')">
            </div>
            <input type="text" name="name" value="{{ person.name }}" class="text-center" placeholder="Person name">
            <input type="text" name="role" value="{{ person.role }}" class="text-center" placeholder="Person roles">
            <div class="flex justify-between">
                <div class="flex items-center cursor-pointer">
                    <input {% if person.is_active %} checked {% endif %} type="checkbox" name="is_active"
                        id="is_active{{ person.id }}">
                    <label for="is_active{{ person.id }}">Active</label>
                </div>
                <div class="flex items-center cursor-pointer">
                    <input type="checkbox" name="to_remove" id="to_remove{{ person.id }}">
                    <label for="to_remove{{ person.id }}">Remove</label>
                </div>
            </div>
            <div class="flex justify-center">
                <button id="submit" type="submit" class="button mt-2 submit-hidden">Save person</button>
            </div>
        </form>
        {% endfor %}

        <div class="flex justify-center items-center w-full min-h-[380px] bg-opacity-10 bg-white-qa rounded-2xl">
            <a href="{{ url_for('admin.create_person') }}" class="button text-blue-darker">Create a new person</a>
        </div>

    </div>
</section>


<section id="events">
    <span class="title">Events Section</span>
    <span>Events are automatically deleted once they have passed.</span>
    <div class="grid grid-cols-3 gap-3 my-5">

        {% for event in events %}
        <form action="{{ url_for('admin.update_event', event_id=event.id) }}" method="post"
            class="bg-opacity-10 bg-white-qa rounded-2xl p-5" onchange="onFormFieldChange(this)">
            <label for="title{{ event.id }}">Title*</label>
            <input type="text" value="{{ event.title }}" name="title" id="title{{ event.id }}"
                placeholder="Enter title">

            <label for="location{{ event.id }}">Location*</label>
            <input type="text" value="{{ event.location }}" name="location" id="location{{ event.id }}"
                placeholder="Enter location">

            <label for="scheduled{{ event.id }}">Scheduled on</label>
            <input type="datetime-local" name="scheduled" id="scheduled{{ event.id }}"
                value="{{ event.scheduled.strftime('%Y-%m-%dT%H:%M') }}">

            <div class="flex justify-start mb-2">
                <input {% if event.has_time %} checked {% endif %} type="checkbox" name="has_time"
                    id="has_time{{ event.id }}">
                <label for="has_time{{ event.id }}">Include time</label>
            </div>

            <label for="description{{ event.id }}">Description*</label>
            <textarea name="description" id="description{{ event.id }}" rows="3" class="mb-2"
                placeholder="Write a new description">{{ event.description }}</textarea>

            <label for="reference{{ event.id }}">Reference</label>
            <input type="text" value="{{ event.reference }}" name="reference" class="mb-0" id="reference{{ event.id }}"
                placeholder="Paste a link to the relevant page here">

            <div class="flex justify-between mt-3 items-start">
                <button id="submit" type="submit" class="button submit-hidden mt-0">Save event</button>
                <div class="flex justify-end gap-3">
                    <div class="flex items-center">
                        <input type="checkbox" name="to_remove" id="to_remove_event_{{ event.id }}">
                        <label for="to_remove_event_{{ event.id }}">Remove</label>
                    </div>
                    <div class="flex items-center">
                        <input type="checkbox" {% if event.is_active %} checked {% endif %} name="is_active"
                            id="is_active_event_{{ event.id }}">
                        <label for="is_active_event_{{ event.id }}">Active</label>
                    </div>
                </div>
            </div>
        </form>
        {% endfor %}

        <div class="flex justify-center items-center w-full min-h-[476.4px] bg-opacity-10 bg-white-qa rounded-2xl">
            <a href="{{ url_for('admin.create_event') }}" class="button text-blue-darker">Create a new event</a>
        </div>

    </div>
</section>


<section id="album mt-5">
    <span class="title">Album Section</span>
    <span>This is known as the general "Media" section in homepage.</span>
    <div class="grid grid-cols-4 gap-5 mt-5">

        {% for album in albums %}
        <a href="{{ url_for('admin.edit_album_page', album_id=album.id) }}">
            <div class="cursor-pointer w-full h-[25vw] md:h-[13vw] rounded-2xl overflow-hidden bg-black">
                <img class="hover:scale-110 duration-300 object-cover object-center h-full w-full hover:opacity-75 opacity-100"
                    src="{{ url_for('static', filename='images/uploaded/'+album.media[0].reference) }}"
                    alt="{{ album.media[0].reference }}">
            </div>
            <div class="flex items-center justify-center text-center w-full mt-3 mb-4 overflow-hidden">
                <span class="font-round text-2xl">{{ album.title }}</span>
            </div>
        </a>
        {% endfor %}

    </div>
</section>


<section id="media">

    <span class="title mt-3">Media Uploads</span>
    <form action="{{ url_for('admin.create_media') }}" method="post">
        <label for="upload_media" class="button text-blue-darker">Upload New Media</label>
        <input type="file" name="upload_media" id="upload_media" class="hidden" accept="image/*"
            onchange="form.submit()">
    </form>

    <span class="title mt-5">Manage Media</span>
    <form action="{{ url_for('admin.update_media') }}" method="post">

        <div class="grid grid-cols-8 gap-3 mt-3">

            {% for media in media %}
            <div class="w-full h-24 rounded-2xl overflow-hidden flex justify-center items-center bg-black relative">
                <img class="object-cover object-center h-full w-full"
                    src="{{ url_for('static', filename='images/uploaded/'+media.reference) }}"
                    alt="{{ media.reference }}">
                <label for="selected_media{{ media.id }}"
                    class="absolute w-full h-full bg-black opacity-0 hover:opacity-50 duration-300 cursor-pointer"></label>

                {% if media.on_gallery %}
                <div class="absolute flex justify-end w-full left-0 top-0 pointer-events-none">
                    <img src="{{ url_for('static', filename='images/website/star.png') }}" alt="star.png"
                        class="w-5 h-5 mr-1 mt-1">
                </div>
                {% endif %}

                <input id="selected_media{{ media.id }}" type="checkbox" name="selected_media"
                    class="absolute scale-[250%] cursor-pointer pointer-events-none opacity-0 checked:opacity-100"
                    value="{{ media.id }}">
            </div>
            {% endfor %}

        </div>
        <div class="flex w-full justify-center gap-3">
            <input type="submit" class="button" name="remove_or_update" value="Remove all selected">
            <input type="submit" class="button" name="remove_or_update" value="Set as gallery image ★">
        </div>
    </form>

</section>

<div class="h-10">

</div>

{% endblock %}