{% extends "layout.html" %}
{% block content %}


<!-- script for previewing images before uploading them -->
<script>
    function previewImage(id) {
        console.log("banana")
        var file = document.getElementById(`image${id}`).files;
        if (file.length > 0) {
            var fileReader = new FileReader()
            fileReader.onload = function (event) {
                document.getElementById(`preview${id}`).setAttribute("src", event.target.result);
            };
            fileReader.readAsDataURL(file[0]);
        }
    }
</script>


<section id="users" class="mb-5 w-full">
    <span class="title">Users</span>

    <form action="{{ url_for('admin.update_users') }}" method="post">
        <table class="text-white-qa w-full rounded-2xl mt-5">
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Entries</th>
                <th>Admin</th>
                <th>Remove</th>
            </tr>

            {% for (user, entries) in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ entries }}</td>
                <td>
                    <input type="checkbox" name="admin_users" {% if user.is_admin %} checked {% endif %}
                        value="{{ user.id }}">
                </td>
                <td>
                    <input type="checkbox" name="remove_users" value="{{ user.id }}">
                </td>
            </tr>
            {% endfor %}

        </table>
        <div class="flex justify-center">
            <button type="submit" class="button mt-3 px-3 py-2">Save changes</button>
        </div>
    </form>

</section>


<section id="about" class="mb-5 w-full">
    <span class="title mb-3">About Section</span>

    <form action="{{ url_for('admin.update_about') }}" method="post">
        <textarea name="description" rows="5" placeholder="Write a new description">{{ about.description }}</textarea>
        <div class="flex justify-center">
            <button type="submit" class="button mt-2 px-3 py-2">Save changes</button>
        </div>
    </form>

</section>


<section id="people" class="mb-5 w-full">
    <span class="title mb-3">People Section</span>
    <div class="grid grid-cols-4 gap-5">

        {% for person in people %}
        <form action="{{ url_for('admin.update_person', person_id=person.id) }}" method="post"
            enctype="multipart/form-data" class="bg-opacity-10 bg-white-qa rounded-2xl p-5">
            <div class="mb-4">
                <div class="flex justify-center z-10">
                    <img src="{{ url_for('static', filename='images/uploaded/'+person.reference) }}"
                        alt="{{ person.reference }}" class="rounded-full object-cover w-52 h-52"
                        id="preview{{ person.id }}">
                </div>
                <div class="flex justify-center">
                    <div class="flex justify-center items-center z-20 w-52 h-52 rounded-full bg-black absolute -mt-52
                        hover:opacity-80 opacity-0 duration-300">
                        <label for="image{{ person.id }}" class="h-fit text-center cursor-pointer">Upload new
                            image</label>
                    </div>
                </div>
                <input type="file" name="image" id="image{{ person.id }}" class="hidden" accept="image/*"
                    onchange="previewImage('{{ person.id }}')">
            </div>
            <input type="text" name="name" value="{{ person.name }}" class="text-center" placeholder="Person name">
            <input type="text" name="role" value="{{ person.role }}" class="text-center" placeholder="Person roles">
            <div class="flex justify-between">
                <div class="flex items-center cursor-pointer">
                    <input {% if person.is_active %} checked {% endif %} type="checkbox" name="is_active"
                        id="is_active{{ person.id }}">
                    <label for="is_active{{ person.id }}">Active</label>
                </div>
                <div class="flex items-center cursor-pointer">
                    <input type="checkbox" name="to_remove" id="to_remove{{ person.id }}">
                    <label for="to_remove{{ person.id }}">Remove</label>
                </div>
            </div>
            <div class="flex justify-center">
                <button type="submit" class="button mt-2">Save person</button>
            </div>
        </form>
        {% endfor %}

        <div class="flex justify-center items-center w-full min-h-[424px] bg-opacity-10 bg-white-qa rounded-2xl">
            <a href="{{ url_for('admin.create_person') }}" class="button text-blue-darker">Create a new person</a>
        </div>

    </div>
</section>


<section id="events">
    <span class="title mb-3">Events Section</span>

    <div class="grid grid-cols-3 gap-5 mb-10">

        {% for event in events %}
        <form action="{{ url_for('admin.update_event', event_id=event.id) }}" method="post"
            class="bg-opacity-10 bg-white-qa rounded-2xl p-5">
            <label for="title{{ event.id }}">Title</label>
            <input type="text" value="{{ event.title }}" name="title" id="title{{ event.id }}">

            <label for="location{{ event.id }}">Location</label>
            <input type="text" value="{{ event.location }}" name="location" id="location{{ event.id }}">

            <label for="scheduled{{ event.id }}">Schedule</label>
            <input type="datetime-local" name="scheduled" id="scheduled{{ event.id }}"
                value="{{ event.scheduled.strftime('%Y-%m-%dT%H:%M') }}">

            <div class="flex justify-start mb-2">
                <input {% if event.has_time %} checked {% endif %} type="checkbox" name="has_time"
                    id="has_time{{ event.id }}">
                <label for="has_time{{ event.id }}">Include time</label>
            </div>

            <label for="description{{ event.id }}">Description</label>
            <textarea name="description" id="description{{ event.id }}" rows="3" class="mb-2"
                placeholder="Write a new description">{{ event.description }}</textarea>

            <label for="reference{{ event.id }}">Reference</label>
            <input type="text" value="{{ event.reference }}" name="reference" class="mb-0" id="reference{{ event.id }}"
                placeholder="Paste a link to the relevant page here">

            <div class="flex justify-between">
                <button type="submit" class="button">Save event</button>
                <div class="flex items-center">
                    <input type="checkbox" {% if event.is_active %} checked {% endif %} name="is_active"
                        id="is_active_event_{{ event.id }}">
                    <label for="is_active_event_{{ event.id }}">Active</label>
                </div>
            </div>
        </form>
        {% endfor %}

        <div class="flex justify-center items-center w-full min-h-[505px] bg-opacity-10 bg-white-qa rounded-2xl">
            <a href="{{ url_for('admin.create_event') }}" class="button text-blue-darker">Create a new event</a>
        </div>

    </div>
</section>

{% endblock %}