<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='dist/css/output.css')}}">
</head>
<body class="h-screen bg-gradient-to-br from-blue-lighter to-blue-darker">
    <header>
        <img src="{{url_for('static', filename='images/website/qa-logo.png')}}" alt="qa-logo" class="h-13">
    </header>
    <span class="text-gray-300">hello world</span>
</body>
</html>