<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<body id="body"
    class="h-full bg-gradient-to-br from-blue-lighter to-blue-darker px-9 md:px-16 xl:px-[10vw] animate-fade_in overflow-x-hidden">

    <!-- header -->
    <header id="header"
        class="flex flex-row items-center justify-between px-9 md:px-16 xl:px-[10vw] pt-7 pb-4 fixed left-0 w-screen z-10">
        <a href="#home">
            <img src="{{ url_for('static', filename='images/website/qa-logo.png') }}" alt="qa-logo"
                class="h-12 md:h-14">
        </a>

        <!-- desktop menu -->
        <div class="nav hidden md:flex flex-row gap-12">
            <a id="navitem" onclick="navOnClick('home')" class="link home active" href="#home">Home</a>
            <a id="navitem" onclick="navOnClick('about')" class="link about" href="#about">About</a>
            <a id="navitem" onclick="navOnClick('upcoming')" class="link upcoming" href="#upcoming">Upcoming</a>
            <a id="navitem" onclick="navOnClick('media')" class="link media" href="#media">Media</a>
            <a id="navitem" onclick="navOnClick('follow')" class="link follow" href="#follow">Follow</a>
        </div>
        <div class="w-14"></div>

        <!-- mobile hamburger menu -->
        <div class="menu-bg" id="menu-bg"></div>
        <div class="md:hidden z-20 top-[3.25rem]" id="menu">
            <div id="menu-bar" class="w-8 h-4 m-2 cursor-pointer scale-90" onclick="menuOnClick()">
                <div id="bar1" class="bar transform -translate-y-1 mb-0.5"></div>
                <div id="bar2" class="bar"></div>
                <div id="bar3" class="bar transform translate-y-1 mt-0.5"></div>
            </div>
            <nav class="text-blue-lighter font-round font-semibold text-2xl text-right right-[3.1rem] absolute z-10"
                id="nav">
                <ul>
                    <li><a href="#home" onclick="menuOnClick()">Home</a></li>
                    <li><a href="#about" onclick="menuOnClick()">About</a></li>
                    <li><a href="#people" onclick="menuOnClick()">People</a></li>
                    <li><a href="#upcoming" onclick="menuOnClick()">Upcoming</a></li>
                    <li><a href="#media" onclick="menuOnClick()">Media</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- welcome section -->
    <section id="home" class="text-center md:text-left text-5xl md:text-7xl 
    text-white-qa font-round font-semibold tracking-wide h-screen w-full
    flex flex-row items-center justify-center">

        <!-- spaces on desktop -->
        <div class="md:flex justify-between items-center w-full">

            <!-- welcome text -->
            <div>
                <span class="leading-tight text-[11vw] md:text-[4.5vw] 2xl:leading-tight 2xl:text-6xl">
                    No <span class="text-blue-qa text drop-shadow-glow-light font-semibold">mistakes,</span> <br>
                    or you're out <br> of the
                    <span class="text-blue-qa text drop-shadow-glow-light font-semibold">chorus</span>
                </span>
                <div class="flex flex-row justify-center md:justify-start gap-7 mt-6 md:mt-5">
                    <a href="https://www.instagram.com/qachorus/" target="_blank">
                        <img class="social" src="{{ url_for('static', filename='images/website/instagram.png') }}"
                            alt="Instagram">
                    </a>
                    <a href="https://www.tiktok.com/@quantumacoustics" target="_blank">
                        <img class="social" src="{{ url_for('static', filename='images/website/tiktok.png') }}"
                            alt="TikTok">
                    </a>
                    <a href="https://www.facebook.com/qachorus" target="_blank">
                        <img class="social" src="{{ url_for('static', filename='images/website/facebook.png') }}"
                            alt="Facebook">
                    </a>
                </div>
            </div>


            <!-- gallery -->
            <div>
                <img class="mt-10 md:mt-0 w-full h-[60vw] md:w-[37vw] md:h-[28vw] 2xl:w-[33vw] 2xl:h-[24vw] object-cover rounded-2xl md:rounded-3xl"
                    src="{{ url_for('static', filename='images/uploaded/'+gallery_cover.reference) }}"
                    alt="{{ gallery_cover.reference }}">
            </div>
        </div>
    </section>

    <!-- scroll arrow -->
    <div class="flex flex-row justify-center">
        <a class="arrow-link animate-bounce -mt-16" href="#about"><img class="arrow h-4"
                src="{{ url_for('static', filename='images/website/arrow.png') }}" alt="arrow"></a>
    </div>

    <!-- about section -->
    <div class="md:flex flex-row justify-between gap-10">

        <!-- about info -->
        <section id="about" class="md:w-1/2 mb-10 scrollable">
            <span class="title">About Us</span>
            <span class="block text-white-qa font-sans text-lg mt-2 leading-6">{{ about.description }}</span>
            <div id="map" class="z-0 rounded-2xl md:rounded-3xl w-full h-[50vw] md:h-[20vw] mt-3"></div>
        </section>

        <!-- people -->
        <div id="people" class="w-full md:w-1/2 scrollable">
            <span class="title">Our People</span>
            <div class="grid grid-cols-2 md:grid-cols-3 gap-6 mt-5">

                {% for person in people %}
                <div class="w-full flex flex-col items-center text-center font-round">
                    <img src="{{ url_for('static', filename='images/uploaded/'+person.reference) }}"
                        alt="{{ person.reference }}"
                        class="rounded-full h-[30vw] w-[30vw] md:h-[12vw] md:w-[12vw] 2xl:h-[10vw] 2xl:w-[10vw] object-cover">
                    <span class="font-semibold mt-1.5 text-xl -mb-0.5 block leading-tight">{{ person.name }}</span>
                    <span>{{ person.role }}</span>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <!-- upcoming events -->
    <section id="upcoming" class="scrollable -mt-20 md:-mt-32">
        <span class="title">Upcoming Events</span>
        <div class="-mt-3 md:grid grid-cols-2 gap-6 md:mt-5">

            <!-- events -->

            {% for event in events %}
            <div
                class="border-blue-qa rounded-2xl md:rounded-3xl border-[0.35rem] my-7 md:my-0 flex flex-col justify-between">
                <div class="p-5 pb-0 md:p-10 md:pb-2">
                    <div class="flex flex-row justify-between items-start">
                        <div>
                            <span class="font-round text-3xl block leading-7">{{ event.title }}</span>
                            <div class="flex flex-row justify-start items-center gap-1.5 my-2">
                                <img src="{{ url_for('static', filename='images/website/location.png') }}"
                                    alt="location" class="h-4">
                                <span>{{ event.location }}</span>
                            </div>
                        </div>
                        <div class="text-right mt-0.5">
                            <span>{{ event.scheduled.strftime('%d/%m/%Y') }}</span>

                            {% if event.has_time %}
                            <br> <span>{{ event.scheduled.strftime('%H:%M') }}</span>
                            {% endif %}

                        </div>
                    </div>
                    <span>{{ event.description }}</span>
                </div>

                {% if event.reference %}
                <a href="{{ event.reference }}" target="_blank"
                    class="button h-14 w-full mt-4 rounded-b-md rounded-t-none md:rounded-full md:w-32 md:h-10 md:mx-10 md:mb-8">
                    <span>Learn more</span>
                </a>
                {% else %}
                <div class="h-4"></div>
                {% endif %}

            </div>
            {% endfor %}

        </div>
    </section>

    <!-- media -->
    <section id="media" class="scrollable md:-mt-20">
        <span class="title">Media</span>
        <div class="grid grid-cols-2 gap-5 md:grid-cols-4 mt-5">

            {% for album in albums %}
            <a href="{{ url_for('album_page', album_id=album.id) }}" class="">
                <div class="cursor-pointer w-full h-[25vw] md:h-[13vw] rounded-2xl overflow-hidden bg-black">
                    <img class="hover:scale-110 duration-300 object-cover object-center h-full w-full hover:opacity-75 opacity-100"
                        src="{{ url_for('static', filename='images/uploaded/'+album.cover.reference) }}"
                        alt="{{ album.cover.reference }}">
                </div>
                <div class="flex items-center justify-center text-center w-full mt-3 mb-4 overflow-hidden">
                    <span class="font-round text-2xl">{{ album.title }}</span>
                </div>
            </a>
            {% endfor %}

        </div>
    </section>

    <!-- footer -->
    <section id="follow" class="ignore-padding h-[32vw] md:h-[22vw] overflow-hidden
        bg-[url('/static/images/website/footer-mobile.svg')] md:bg-[url('/static/images/website/footer-desktop.svg')] 
        bg-[length:120vw] md:bg-[length:120vw] bg-no-repeat bg-[center_bottom_-12vw] md:bg-[center_bottom_-4vw]
        flex flex-row justify-between px-9 md:px-16 xl:px-[10vw] pt-[20vw] md:pt-[10vw]">
        <div class="flex flex-row justify-start gap-3 -ml-5 scale-75">
            <a href="https://www.instagram.com/qachorus/" target="_blank">
                <img class="social" src="{{ url_for('static', filename='images/website/instagram.png') }}"
                    alt="Instagram">
            </a>
            <a href="https://www.tiktok.com/@quantumacoustics" target="_blank">
                <img class="social" src="{{ url_for('static', filename='images/website/tiktok.png') }}" alt="TikTok">
            </a>
            <a href="https://www.facebook.com/qachorus" target="_blank">
                <img class="social" src="{{ url_for('static', filename='images/website/facebook.png') }}"
                    alt="Facebook">
            </a>
        </div>
        <div class="text-right text-[2vw] mt-2 md:text-[1vw]">
            <span>© Quantum Acoustics 2023</span> <br>
            <a href="{{url_for('admin.edit_page')}}" class="text-blue-qa underline">Edit this
                page</a>
        </div>
    </section>

</body>

</html>