<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edit</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- links -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/output.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/website/qa-logo.png') }}">
</head>

<body class="body-loaded min-h-screen">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
</body>

</html>