<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edit</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- links -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/output.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/website/qa-logo.png') }}">
</head>

<body class="body-loaded min-h-screen">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <header id="header" class="flex items-center justify-between pt-7 pb-4 w-full z-10">
        <a href="/" class="flex items-center gap-1 opacity-100 hover:opacity-50 duration-300" target="_blank">
            <img src="{{url_for('static', filename='images/website/arrow.png')}}" alt="back" class="rotate-90 h-2.5">
            <span class="text-white-qa text-2xl md:text-lg font-round font-medium">Home Page</span>
        </a>

        {% if username %}
        <span>Signed in as "{{username}}"</span>
        <a href="/api/logout" class="button">Log out</a>
        {% endif %}

    </header>

    {% block content %}
    {% endblock %}
</body>

</html>