<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edit</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- links -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/output.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/website/qa-logo.png') }}">
</head>

<body class="body-loaded min-h-screen">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="animate-error fixed left-0 w-screen bottom-10 text-center z-50">
        {% for message in messages %}
        <span class="rounded-full p-3 w-fit text-center
        {% if '!' in message %} bg-green-800
        {% else %} bg-red-800 
        {% endif %}">{{ message }}</span>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <header id="header" class="flex items-center justify-between pt-7 pb-4 w-full z-10">
        <a href="{{ url_for('home_page') }}" class="flex items-center gap-1 w-56">
            <img src="{{ url_for('static', filename='images/website/home.png') }}" alt="back" class="h-3.5">
            <span class="text-2xl md:text-lg font-round font-medium">Home Page</span>
        </a>

        {% if session['username'] %}

        {% if is_forward %}
        <a href="{{ url_for('admin.edit_page') }}" class="font-round font-medium text-2xl md:text-lg">
            Back to Edit Page
        </a>
        {% endif %}

        <div class="flex justify-end items-center w-fit">
            <span>Signed in as {{ session['username'] }}</span>
            <a href="{{ url_for('admin.logout') }}" class="button text-blue-darker mb-2 ml-3">Log out</a>
        </div>
        {% endif %}

    </header>

    {% if session['is_admin'] or sign_page %}

    {% block content %}
    {% endblock %}

    {% else %}

    <div class="flex justify-center items-center h-[85vh]">
        <span class="text-center">
            Sorry, you do not have editing access. <br>
            Please contact an admin.
        </span>
    </div>

    {% endif %}

</body>

<!-- remembers scroll position on page reload -->
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        const scrollpos = localStorage.getItem("scrollpos");
        if (scrollpos) window.scrollTo(0, scrollpos);
    });

    window.onscroll = function (e) {
        localStorage.setItem("scrollpos", window.scrollY);
    };
</script>

</html>