<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading</title>
    <link rel="stylesheet" href="{{url_for('static', filename='dist/css/output.css')}}">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script>
        // AWAITS HOMEPAGE BEING LOADED
        setTimeout(function navigate() {
            window.location.href = 'home';
        }, 500)
        fetch('home').then(transition);</script>
</head>

<body class="bg-gradient-to-br from-blue-lighter to-[#0c1622] h-screen animate-fade_in">
    <div class="h-screen w-screen flex justify-center items-center">
        <lottie-player src="https://lottie.host/90d91040-688e-4943-8951-405a809198f2/RbsDUXqEvA.json"
            class="animate-fade_in" background="transparent" speed="1.5" style="width: 100px; height: 100px;" loop
            autoplay></lottie-player>
    </div>
</body>

</html>