<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <title>{{title}}</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- links -->
    <link rel="stylesheet" href="{{url_for('static', filename='dist/css/output.css')}}">
    <link rel="icon" href="{{url_for('static', filename='images/website/qa-logo.png')}}">
</head>

<body id="body" class="bg-gradient-to-br from-blue-lighter to-blue-darker h-[2800px] animate-fade_in">

    <!-- show loading-icon (in root) -->
    <div id="root" class="relative">
        <div class="h-screen w-screen flex justify-center items-center fixed" id="loading-container">
            <lottie-player src="https://lottie.host/90d91040-688e-4943-8951-405a809198f2/RbsDUXqEvA.json"
                id="loading-icon" class="animate-fade_in" background="transparent" speed="2"
                style="width: 100px; height: 100px;" loop autoplay></lottie-player>
        </div>
    </div>

    <!-- loading script -->
    <script>
        const icon = document.getElementById("loading-icon")
        fetch('{{target}}').then((a) => a.text()).then((data) => {
            icon.classList.remove("animate-fade_in");
            setTimeout(() => {
                icon.classList.add("animate-fade_out");
                document.getElementById("body").classList.remove("animate-fade_in");
            }, 300);
            setTimeout(() => {
                document.getElementById("body").className = "body-loaded";
                document.getElementById("root").innerHTML = data;
                initMap();
            }, 800)
        });
    </script>

    <!-- other scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHG-KPuE8EgjE0NiC7tEfFjiTYmNFMuus&v=weekly"></script>
    <script async src="{{url_for('static', filename='js/main.js')}}"></script>
</body>

</html>