{% extends "layout.html" %}
{% block content %}

<div class="flex justify-center items-center min-h-screen -mt-20">
    <form action="{{ url_for('admin.signin') }}" method="post"
        class="flex-col items-center backdrop-blur-2xl bg-black bg-opacity-20 py-10 px-12 rounded-2xl">
        <span class="title mb-3">Sign in to make changes</span>
        <label for="username" class="text-white-qa">Username</label> <br>
        <input type="text" placeholder="Enter username" name="username"> <br>

        <label for="password" class="text-white-qa">Password</label> <br>
        <input type="password" placeholder="Enter password" name="password"> <br>

        <button type="submit" class="button mt-1 px-3 py-2">Sign in</button> <br>

        <a href="{{ url_for('admin.signup') }}">
            I don't have an account
        </a>
    </form>
</div>

{% endblock %}