{% extends "layout.html" %}
{% block content %}


<form action="{{ url_for('admin.update_users') }}" method="post">
    <table class="text-white-qa w-full rounded-2xl mt-5">
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Entries</th>
            <th>Admin</th>
            <th>Remove</th>
        </tr>

        {% for (i, user) in enumerate(users) %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ entries[i] }}</td>
            <td>
                <input type="checkbox" class="w-min" {% if user.is_admin %} checked {% endif %} name="admin_users"
                    value="{{ user.id }}">
            </td>
            <td>
                <input type="checkbox" class="w-min" name="remove_users" value="{{ user.id }}">
            </td>
        </tr>
        {% endfor %}

    </table>
    <div class="flex justify-center">
        <button type="submit" class="button mt-3 px-3 py-2">Save changes</button>
    </div>
</form>



{% endblock %}